*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  width: 100%;
  height: 100vh;
}

.header{
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header h2{
  font-size: 2rem;
  font-family: cursive;
  font-weight: bold;
  color: azure;
}

.header ul{
  list-style-type: none;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header ul li{
  font-size: 20px;
  margin-right: 5px;
}
.header ul li a{
  color: cadetblue;
}